.summary {
  display: flex;
  justify-content: space-between;
}

.table {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;

  td + td {
    padding-left: 30px;
    text-align: right;
    font-weight: 700;
  }
}
